@{
    ViewData["Title"] = "Complete";
}
@model ShipsInSpace.Models.RegistrationViewModel

<div class="text-center">

    <p>
        Your plate number is: @Model.Plate
    </p>
    <p>
        Your secret code is: @Model.SecretCode
    </p>
</div>